.active-link {
    font-weight: bold;
}

span {
    margin-right: 25px;
    
    &:hover {
        cursor: pointer;
    }
}

.active-popup::after {
    content: "·";
    font-size: 2rem;
    position: relative;
    top: 5px;
}